
@{
    ViewBag.Title = "Dashboard";
}

<h2>تحديد الأوقات المتاحة</h2>

<form method="post">
    <label>اليوم:</label>
    <input type="date" name="Date" />

    <label>الوقت:</label>
    <input type="time" name="Time" />

    <br /><br />
    <button type="submit">إضافة</button>
</form>

<hr />

<h3>الأوقات المتاحة:</h3>
<ul>
    <li>الأحد - 4:00 مساءً</li>
    <li>الثلاثاء - 6:00 مساءً</li>
</ul>