
@{
    ViewBag.Title = "Dashboard";
}

<h2>خطة الطالبة</h2>

<div>
    <p>عدد الساعات اليومية: 2 ساعة</p>
    <p>السور الحالية: من البقرة إلى آل عمران</p>
</div>

<hr />

<h3>مهام طالبة القرآن</h3>

<ul>
    <li>حفظ 5 آيات</li>
    <li>مراجعة السابق</li>
    <li>الاستماع للتلاوة</li>
</ul>

